        * {
            margin: 0;
        }
        
        body {
            background-color: #f7f8fa;
        }
        /*Social media*/
        
        .social-media img {
            margin: 10px 0px 0px 0px;
            width: 46px;
            height: 46px;
            float: left;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 2px;
            background-image: #1da1f2;
        }
        
        .fb img {
            width: 27px;
            height: 30px;
            margin-top: 16px;
            float: left;
            margin-bottom: 3px;
        }
        
        .instagram img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin-top: 16px;
            margin-left: 14px;
            float: left;
            margin-bottom: 2px;
        }
        
        a:hover img {
            border-radius: 100%;
            transform: ease;
        }
        
        .grow {
            width: 40px;
            padding-right: 4px;
            transition: all .2s ease-in-out;
            background-color: #1da1f2;
        }
        
        .grow:hover {
            transform: scale(1.1);
            text-decoration-line: underline;
        }
        /*Navigatin  bar*/
        
        #navigation-bar {
            margin: 0 0 0 0;
            width: 100%;
            overflow: hidden;
            height: 100px;
            background-color: #1da1f2;
        }
        
        #navigation-bar ul {
            float: right;
            margin-top: 12px;
        }
        
        #navigation-bar ul li {
            display: inline;
            list-style-type: none;
            margin-right: 16px;
            font-size: 22px;
            overflow: hidden;
        }
        
        ul a {
            text-decoration: none;
            color: #ffffff;
        }
        
        hr {
            background-color: #f7f8fa;
        }
        
        #me {
            margin-top: 15px;
        }
        
        #me img {
            width: 10%;
            height: auto;
            border-radius: 100%;
            margin-left: 43%;
        }
        
        h2 {
            margin: 0;
            padding: 0;
            text-align: center;
            color: #1f4268;
        }
        
        .about-txt .about {
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 21px;
            text-align: center;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #1f4268;
            text-align: justify;
        }
        
        .footer-content {
            width: 100%;
            text-align: center;
            left: 0px;
            margin: 0;
            bottom: 0px;
               margin-top: 80px;
        }
