* {
    margin: 0;
}

body {
    background-color: #f7f8fa;
}


/*Social media*/

.social-media img {
    width: 46px;
    height: 46px;
    float: left;
    margin-right: 8px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 2px;
    background-image: #1da1f2;
}

.fb img {
    width: 27px;
    height: 30px;
    margin-top: 8px;
    float: left;
    margin-bottom: 2px;
}

.instagram img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 8px;
    margin-left: 14px;
    float: left;
    margin-bottom: 2px;
}

a:hover img {
    background-color: #085a9e;
    border-radius: 100%;
    transform: ease;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    text-decoration-line: underline;
}


/*Navigatin  bar*/

#navigation-bar {
    margin: 0 0 0 0;
    width: 100%;
    overflow: hidden;
    background-color: #0a71c6;
}

#navigation-bar ul {
    float: right;
}

#navigation-bar ul li {
    display: inline;
    list-style-type: none;
    margin-right: 16px;
    font-size: 20px;
    color: #ffffff;
    overflow: hidden;
}

ul a {
    text-decoration: none;
    color: #ffffff;
}


/*About section */

#about-container {
    width: 100%;
    overflow: hidden;
    background-color: #1da1f2;
    color: #ffffff;
}

#about-container img {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10%;
    margin-top: -50px;
    border-radius: 100%;
}

#photo .text {
    margin-left: 20%;
    color: #ffffff;
    text-align: justify;
    margin-top: 70px;
    margin-right: 20%;
}

#photo {
    width: 100%;
    margin-bottom: 30px;
}


/*what i can secction */

h2 {
    color: #434e5e;
    text-align: center;
    margin: 0%;
    margin-top: 20px;
}

#what-i-can p {
    font-size: 16px;
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}


/* icons*/

#boxes {
    margin-top: 20px;
    display: flex;
    text-align: justify;
    width: 100%;
    align-content: center;
    justify-items: center;
    padding: 50px;
}

#boxes .box {
    padding: 40px;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: center;
    flex-direction: column;
    flex-basis: 30%;
    padding: 30px;
    -ms-flex-item-align: auto;
    float: left;
}

@media screen and(max-width: 375px) {
    #boxes .box {
        flex-basis: 100%;
        float: clear;
        padding: 50px;
    }
}

#boxes .box img {
    width: 200px;
    height: 200px;
}

.footerIndex-1 p {
    padding: 20px;
    margin-top: 14.6%;
    text-align: center;
}

#section footer {
    padding: 20px;
    margin-top: 14.6%;
    text-align: center;
}

#section .footerIndex p {
    color: #000000;
    text-align: center;
    margin-top: 13%;
}